# How to split the data into train/test/validation

In [1]:
from CCAgT_utils.converters.CCAgT import read_parquet
from CCAgT_utils.categories import CategoriesInfos
from CCAgT_utils import split

In [2]:
path_ccagt = '../data/samples/out/CCAgT.parquet.gzip'

In [3]:
ccagt = read_parquet(path_ccagt)
ccagt.df

,image_name,geometry,category_id,geo_type,area,image_id,slide_id
0,C_13509_-270720_116640,"POLYGON ((1223.055 456.484, 1218.444 455.908, ...",1,Polygon,2504.049569,1,C
1,C_13509_-270720_116640,"POLYGON ((1437.13 1043.508, 1433.713 1042.597,...",1,Polygon,2528.810560,1,C
2,C_13509_-270720_116640,"POLYGON ((1526.891 1024.37, 1520.168 1030.672,...",1,Polygon,4255.398788,1,C
3,C_13509_-270720_116640,"POLYGON ((1536.347 620.339, 1534.087 626.554, ...",1,Polygon,2880.028151,1,C
4,C_13509_-270720_116640,"POLYGON ((1537.135 549.708, 1533.041 551.608, ...",1,Polygon,3173.507494,1,C
...,...,...,...,...,...,...,...
221,O_1044_-240480_58320,"POLYGON ((1460.539 108.301, 1457.789 108.718, ...",2,Polygon,42.671458,7,O
222,O_1044_-240480_58320,"POLYGON ((1501.372 54.301, 1499.039 52.135, 14...",2,Polygon,67.767250,7,O
223,O_1044_-240480_58320,"POLYGON ((941.289 977.468, 935.955 977.801, 93...",2,Polygon,135.942973,7,O
224,O_1044_-240480_58320,"POLYGON ((902.622 1001.301, 899.455 999.968, 8...",2,Polygon,61.004583,7,O
225,O_1044_-240480_58320,"POLYGON ((935.955 1024.135, 932.955 1021.968, ...",2,Polygon,51.353473,7,O

In [4]:
train_ids, valid_ids, test_ids = split.tvt_by_nors(ccagt, CategoriesInfos())

Splitting 0 images with low_nors quantity...
Splitting 3 images with medium_nors quantity...
>T: 1 V: 1 T: 1
Splitting 4 images with high_nors quantity...
>T: 2 V: 1 T: 1

In [5]:
from CCAgT_utils.converters.CCAgT import CCAgT 
train_ccagt = CCAgT(ccagt.df[ccagt.df['image_id'].isin(train_ids)])
valid_ccagt = CCAgT(ccagt.df[ccagt.df['image_id'].isin(valid_ids)])
test_ccagt = CCAgT(ccagt.df[ccagt.df['image_id'].isin(test_ids)])

# Describe folds

In [6]:
from CCAgT_utils import describe

In [7]:
out = {}
out['train'] = describe.ccagt_annotations(train_ccagt, CategoriesInfos())
out['valid'] = describe.ccagt_annotations(valid_ccagt, CategoriesInfos())
out['test'] = describe.ccagt_annotations(test_ccagt, CategoriesInfos())

In [8]:
df_qtd, df_dist, df_area = describe.tvt_annotations_as_df(**out)

In [9]:
df_qtd

,fold,images,slides,annotations,NUCLEUS,CLUSTER,SATELLITE,NUCLEUS_OUT_OF_FOCUS,OVERLAPPED_NUCLEI,NON_VIABLE_NUCLEUS,LEUKOCYTE_NUCLEUS
0,train,3,3,82,16,27,20,6,4,7,2
1,validation,2,2,84,20,41,3,6,3,1,10
2,test,2,2,66,16,29,6,5,3,3,4
total,total,7,7,232,52,97,29,17,10,11,16

In [10]:
df_dist

,fold,% images,% annotations,% NUCLEUS,% CLUSTER,% SATELLITE,% NUCLEUS_OUT_OF_FOCUS,% OVERLAPPED_NUCLEI,% NON_VIABLE_NUCLEUS,% LEUKOCYTE_NUCLEUS
0,train,0.428571,0.353448,0.195122,0.329268,0.243902,0.073171,0.048780,0.085366,0.024390
1,validation,0.285714,0.362069,0.238095,0.488095,0.035714,0.071429,0.035714,0.011905,0.119048
2,test,0.285714,0.284483,0.242424,0.439394,0.090909,0.075758,0.045455,0.045455,0.060606

In [11]:
df_area

category,NUCLEUS,CLUSTER,SATELLITE,NUCLEUS_OUT_OF_FOCUS,OVERLAPPED_NUCLEI,NON_VIABLE_NUCLEUS,LEUKOCYTE_NUCLEUS,fold
mean,3559.321385,73.396818,8.770458e+01,4103.916532,8412.367074,2157.025615,666.410195,train
std,1291.839909,30.472450,4.686674e-13,2347.929772,2530.509038,716.883368,24.947375,train
max,6013.118388,171.454465,8.770458e+01,9240.416805,11420.092973,3669.031250,691.357569,train
min,2193.193023,41.569958,8.770458e+01,2459.225611,4474.308666,1444.221625,641.462820,train
count,16.000000,27.000000,2.000000e+01,6.000000,4.000000,7.000000,2.000000,train
mean,3105.606118,93.572324,8.770458e+01,2275.304023,5234.430529,3070.265625,1141.422453,validation
std,1126.197198,50.234616,7.004765e-13,570.060286,1716.799653,0.000000,669.800171,validation
max,5656.105889,255.676361,8.770458e+01,3421.861251,7577.126531,3070.265625,2677.406250,validation
min,1773.555361,42.671458,8.770458e+01,1772.437500,3510.875000,3070.265625,353.895223,validation
count,20.000000,41.000000,3.000000e+00,6.000000,3.000000,1.000000,10.000000,validation
mean,4809.884218,148.257152,8.770458e+01,4378.865342,4366.923614,5409.074417,779.741068,test
std,1460.223571,69.847272,2.767774e-13,499.155869,2009.111915,962.124672,139.626215,test
max,7706.296875,302.300500,8.770458e+01,5310.608125,7102.196756,6472.135389,995.421000,test
min,2031.293688,47.975139,8.770458e+01,3927.843750,2333.324086,4142.049639,633.653187,test
count,16.000000,29.000000,6.000000e+00,5.000000,3.000000,3.000000,4.000000,test